.allMessages {
  margin-left: 25px;
}

.message {
  background-color: rgb(225, 225, 225);
  border-radius: 20px;
  margin: 0px 15px 15px 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  width: fit-content;
}
.message:hover {
  background-color: rgb(200, 200, 200);
}

.message-contenu {
  display: flex;
  justify-content: center;
  margin: 1px;
}
.icon-like {
  align-self: center;
  margin-left: 5px;
  font-size: 120%;
}
.icon-like:hover {
  color: green;
}

.message-pseudoUser {
  font-size: x-small;
  background-color: rgb(225, 225, 225);
  border-radius: 20px;
  padding: 2px 7px;
  width: fit-content;
  margin: 20px 10px 5px 30px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
}
