.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 75px;
  box-shadow: 10px 10px 20px rgb(255, 200, 200);
}

.group-logo {
  width: 30%;
  border-radius: 25px;
  margin-left: 50px;
}

.group-deleteUser {
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.group-logout {
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
