.group-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 75px;
  box-shadow: 10px 10px 20px rgb(255, 200, 200);
}

.group-logo {
  width: 30%;
  border-radius: 25px;
  margin-left: 50px;
}
.group-boutton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.group-deleteUser {
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.group-admin-deleteUser {
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.group-logout {
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.group-listeUser {
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  font-weight: bold;
  border: none;
  cursor: pointer;
}
@media all and (max-width: 950px) {
  .group-header {
    flex-direction: column;
    margin: auto;
    border-radius: 75px;
  }
  .group-logo {
    margin: auto;
    width: 50%;
    min-width: 230px;
    padding-top: 10px;
  }
}
