@font-face {
  font-family: 'Nevis';
  src: url('../components/utils/police/nevis.ttf');
}

.connect-group-connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 128, 255);
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
}
.connect-group-header {
  border-radius: 75px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  display: flex;
  margin-top: 50px;
}

.connect-group-logo {
  width: 15%;
  border-radius: 25px;
  margin: auto;
  padding: 5px;
}
.connect-group-titre {
  margin: auto;
  font-family: 'Nevis';
  font-size: 2.5em;
}
.connect-group-info {
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
}
.connect-info {
  font-weight: bold;
  font-size: 120%;
  margin-left: 30px;
  margin-right: 30px;
}

.connect-form-login {
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
}
.connect-form-title {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 10px 0;
  font-size: 125%;
}
.connect-label-email {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.connect-email {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}

.connect-label-password {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.connect-password {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.connect-form-send {
  margin: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
  padding: 3px 0;
  font-weight: bold;
  border: none;
  font-size: 105%;
  cursor: pointer;
}
.connect-group-signUp {
  border-radius: 20px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  font-weight: bold;
  border: none;
  width: fit-content;
  margin: auto;
  background-color: rgb(225, 225, 225);
  text-align: center;
  margin: 5px;
}
@media all and (max-width: 450px) {
  .connect-group-titre {
    font-size: 2em;
  }
  .connect-group-header {
    margin-top: 10px;
    width: 90%;
  }
}
