@font-face {
  font-family: 'Nevis';
  src: url('../components/utils/police/nevis.ttf');
}
.cca-group-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 128, 255);
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
}

.cca-group-header {
  display: flex;
  border-radius: 75px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  margin-top: 50px;
}

.cca-group-logo {
  width: 15%;
  border-radius: 25px;
  margin: auto;
  padding: 5px;
}
.cca-group-titre {
  margin: auto;
  font-family: 'Nevis';
  font-size: 2.5em;
}

.cca-group-info {
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
}
.cca-info {
  font-weight: bold;
  font-size: 120%;
  margin-left: 30px;
  margin-right: 30px;
}

.cca-form-signUp {
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
}

.cca-form-title {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 10px 0;
  font-size: 125%;
}
.cca-label-email {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.cca-email {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.cca-label-pseudo {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.cca-pseudo {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.cca-label-password {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.cca-password {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.cca-form-send {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
  padding: 3px 0;
  font-weight: bold;
  border: none;
  font-size: 105%;
  cursor: pointer;
}
.cca-info-password {
  font-weight: lighter;
  font-size: 80%;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 15px;
  color: blue;
}
.cca-info-pseudo {
  font-weight: lighter;
  font-size: 80%;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 10px;
  color: blue;
}
.cca-form-retour {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
  padding: 3px 0;
  font-weight: bold;
  border: none;
  font-size: 105%;
  cursor: pointer;
}
.cca-info-compteAdmin {
  font-size: 105%;
}
@media all and (max-width: 950px) {
  .cca-group-titre {
    font-size: 2em;
  }
  .cca-group-header {
    margin-top: 10px;
  }
  .cca-group-info {
    margin-top: 10px;
  }
  .cca-form-signUp {
    margin-top: 10px;
  }
}
@media all and (max-width: 450px) {
  .cca-group-header {
    margin-top: 10px;
    width: 90%;
  }
  .cca-info {
    font-size: 90%;
  }
  .cca-form-title {
    margin: 0;
  }
  .cca-label-email {
    font-size: small;
  }
  .cca-label-password {
    font-size: small;
  }
  .cca-label-pseudo {
    font-size: small;
  }
  .cca-info-pseudo {
    margin-bottom: 5px;
  }
  .cca-info-password {
    margin-bottom: 5px;
  }
}
