.cca-group-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cca-group-header {
  display: flex;
  border-radius: 75px;
  box-shadow: 10px 10px 20px rgb(255, 200, 200);
  margin: auto;
}

.cca-group-logo {
  width: 50%;
  border-radius: 25px;
  margin: auto;
}

.cca-form-signUp {
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
}

.cca-form-title {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 10px 0;
  font-size: 125%;
}
.cca-label-email {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.cca-email {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.cca-label-pseudo {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.cca-pseudo {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.cca-label-password {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.cca-password {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.cca-form-send {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
  padding: 3px 0;
  font-weight: bold;
  border: none;
  font-size: 105%;
  cursor: pointer;
}
.cca-info-password {
  font-weight: lighter;
  font-size: 80%;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 15px;
}
.cca-info-pseudo {
  font-weight: lighter;
  font-size: 80%;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 10px;
}
.cca-form-retour {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
  padding: 3px 0;
  font-weight: bold;
  border: none;
  font-size: 105%;
  cursor: pointer;
}
.cca-info-compteAdmin {
  font-size: 105%;
}
@media all and (max-width: 950px) {
  .cca-group-logo {
    margin: auto;
    min-width: 230px;
  }
}
