.ins-group-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ins-group-header {
  display: flex;
  border-radius: 75px;
  box-shadow: 10px 10px 20px rgb(255, 200, 200);
  margin: auto;
}

.ins-group-logo {
  width: 40%;
  border-radius: 25px;
  margin: auto;
}

.ins-form-signUp {
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
}

.ins-form-title {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 10px 0;
  font-size: 125%;
}
.ins-label-email {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.ins-email {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.ins-label-pseudo {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.ins-pseudo {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.ins-label-password {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.ins-password {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.ins-form-send {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
  padding: 3px 0;
  font-weight: bold;
  border: none;
  font-size: 105%;
}
.ins-info-password {
  font-weight: lighter;
  font-size: 80%;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 10px;
}
.ins-info-pseudo {
  font-weight: lighter;
  font-size: 80%;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 10px;
}
