@font-face {
  font-family: 'Nevis';
  src: url('../components/utils/police/nevis.ttf');
}

.ins-group-inscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 128, 255);
  width: 40%;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: auto;
  border-radius: 40px;
}

.ins-group-header {
  display: flex;
  border-radius: 75px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  margin: auto;
  width: 90%;
}

.ins-group-logo {
  width: 15%;
  border-radius: 25px;
  margin: auto;
  padding: 5px;
}
.ins-group-titre {
  margin: auto;
  font-family: 'Nevis';
  font-size: 2.5em;
}

.ins-form-signUp {
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
}

.ins-form-title {
  text-align: center;
  font-weight: bold;
  margin: 10px 0 10px 0;
  font-size: 125%;
}
.ins-label-email {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.ins-email {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.ins-label-pseudo {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.ins-pseudo {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.ins-label-password {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}
.ins-password {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}
.ins-form-send {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
  padding: 3px 0;
  font-weight: bold;
  border: none;
  font-size: 105%;
  cursor: pointer;
}
.ins-info-password {
  font-weight: lighter;
  font-size: 80%;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 15px;
  color: blue;
}
.ins-info-pseudo {
  font-weight: lighter;
  font-size: 80%;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 10px;
  color: blue;
}
.ins-form-retour {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
  padding: 3px 0;
  font-weight: bold;
  border: none;
  font-size: 105%;
  cursor: pointer;
}
@media all and (max-width: 950px) {
  .ins-group-titre {
    font-size: 2em;
  }
  .ins-group-inscription {
    width: 60%;
  }
}
@media all and (max-width: 700px) {
  .ins-group-inscription {
    width: 80%;
  }
}
@media all and (max-width: 450px) {
  .ins-group-inscription {
    width: 100%;
  }
}
