.sectionMessage {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 800px;
  overflow: Auto;
}
.retour-allMessage {
  width: 100%;
  margin: auto;
  background-color: rgb(0, 128, 255);
  display: flex;
  justify-content: center;
}
.bouton-retour-allMessage {
  border: none;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
}
.icon-bouton-retour-allMessage {
  font-size: large;
}

.allMessages {
  width: 100%;
  margin: auto;
  background-color: rgb(0, 128, 255);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.messagePlusCommentaire {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 80%;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  margin-bottom: 20px;
}
.selectUser {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.message {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}
.message-contenu {
  padding: 2px 7px;
  margin: 10px;
  width: 95%;
}
.message-conteneur-image {
  width: 100%;
  display: flex;
  background-color: black;
  margin-bottom: 15px;
}
.message-image {
  margin: auto;
  max-width: 100%;
}

.message-header {
  margin: auto;
  border-bottom: 1px solid gray;
  width: 95%;
}
.message-pseudoUser {
  border-radius: 20px;
  padding: 2px 7px;
  margin: 5px 10px 0 10px;
  font-weight: bold;
  border: none;
  background-color: rgb(200, 200, 200);
  font-size: 105%;
}
.message-pseudoUser:hover {
  color: blue;
}
.message-date {
  border-radius: 20px;
  padding: 2px 7px;
  margin: 0 10px 5px 10px;
  font-size: small;
}

.ajout-message {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(0, 128, 255);
}
.form-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  max-width: 100%;
}

.nouveau-message {
  border: none;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  padding: 10px;
  margin: 15px;
  border-radius: 25px;
  max-width: 100%;
}
.nouveau-message-label {
  display: none;
}
.ajout-photo-message {
  border: none;
  width: 45px;
  height: min-content;
  margin-left: -60px;
  opacity: 0%;
  cursor: pointer;
}
.icon-photo {
  width: 25px;
  height: 25px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  border-radius: 25px;
  margin-right: 15px;
  padding: 10px;
  background-color: rgb(225, 225, 225);
  position: relative;
  cursor: pointer;
}
.envoie-message {
  border: none;
  background-color: rgb(225, 225, 225);
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  font-weight: bold;
  border-radius: 25px;
  padding: 10px;
  margin-left: 20px;
  width: min-content;
  height: min-content;
  cursor: pointer;
}
.envoie-message:hover {
  color: blue;
}
.annule-message {
  border: none;
  background-color: rgb(225, 225, 225);
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  font-weight: bold;
  border-radius: 25px;
  margin-left: 20px;
  padding: 10px;
  width: min-content;
  height: min-content;
  cursor: pointer;
}
.annule-message:hover {
  color: red;
}
.contenu-message {
  background-color: rgb(225, 225, 225);
  list-style-type: none;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  min-width: 250px;
  margin-bottom: 15px;
}

.contenu-header {
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.p-contenu {
  margin: 0px;
  max-width: 650px;
}
.p-image {
  width: 95%;
  max-width: 650px;
  align-self: center;
  margin: 10px 0 10px 0;
}
.contenu {
  text-align: start;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.footer-nouveau-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-boutton {
  display: flex;
  justify-content: flex-start;
  height: 20px;
  padding: 10px;
  border-top: 1px solid gray;
}
.sup-message {
  border: none;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  display: flex;
}
.sup-message-icon {
  font-size: 115%;
  padding: 5px;
  align-self: center;
  cursor: pointer;
}
.sup-message-icon:hover {
  color: red;
}
.com-message {
  border: none;
  background-color: rgb(225, 225, 225);
  margin-left: 15px;
  border-radius: 10px;
  padding-left: 5px;
}
.icon-commentaire {
  font-size: 115%;
  padding: 5px;
  align-self: center;
  cursor: pointer;
}
.icon-commentaire:hover {
  color: blue;
}
.com-boutton {
  border: none;
  background-color: rgb(225, 225, 225);
  margin-left: 15px;
  border-radius: 10px;
  display: flex;
}
.message-nbrCommentaire {
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  margin-left: 3px;
  display: flex;
}
.message-icon-nbrRepCommentaire {
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  margin-left: 15px;
  display: flex;
}
.icon-nbrRepCommentaire {
  padding: 7px;
  align-self: center;
}
.nbrCommentaire {
  margin: 0;
  padding: 5px;
  font-size: 80%;
  align-self: center;
}
.nbrRepCommentaire {
  margin: 0;
  padding: 5px;
  font-size: 80%;
  align-self: center;
}
.message-nbrRepCommentaire {
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  margin-left: 3px;
  display: flex;
}
.message-nbrLikes {
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
  margin-left: 3px;
  display: flex;
}
.nbrLikes {
  margin: 0;
  padding: 5px;
  font-size: 80%;
  align-self: center;
}
@media all and (max-width: 950px) {
  .sectionMessage {
    width: 100%;
  }
  .form-message {
    width: 85%;
  }
  .messagePlusCommentaire {
    width: 95%;
  }
  .form-message {
    padding: 0 0 10px 0;
  }
  .nouveau-message {
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
