.allUsers {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-left: 3px solid red;
  margin-left: 15px;
}
.users {
  align-self: center;
  margin-top: 15px;
  padding: 10px;
  width: max-content;
  background-color: rgb(225, 225, 225);
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
}
.users-contenu {
  font-weight: lighter;
  margin: 0;
}
.icon-smile {
  font-size: 110%;
  color: rgba(0, 0, 0, 0.75);
  padding-right: 10px;
}
