.sup-group-suppression {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sup-group-header {
  display: flex;
  margin: auto;
  border-radius: 75px;
  box-shadow: 10px 10px 20px rgb(255, 200, 200);
}

.sup-group-logo {
  width: 40%;
  border-radius: 25px;
  margin: auto;
}

.sup-form-deleteUser {
  border-radius: 20px;
  margin: 30px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgb(200, 200, 200);
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
}

.sup-form-title {
  text-align: center;
  font-weight: bold;
  margin: 10px;
  font-size: 125%;
}

.sup-label-email {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}

.sup-email {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}

.sup-label-pseudo {
  text-align: left;
  font-weight: normal;
  font-size: 105%;
  margin: 5px;
}

.sup-pseudo {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}

.sup-label-password {
  text-align: left;
  font-weight: normal;
  margin: 5px;
  font-size: 105%;
}

.sup-password {
  border-radius: 15px;
  border: none;
  font-size: 105%;
  margin: 5px;
}

.sup-form-send {
  margin: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(200, 200, 200);
  padding: 3px 0;
  font-weight: bold;
  border: none;
  font-size: 105%;
}
